html, body {
 height:100%;
 padding:0;
 margin:0;

}

#logo {
  width: 20%;
  height: 55px;
  float: left;
  margin-top: 12px;
  margin-left: 10px;

}

.header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
}

div.scrollmenu {
  background-color: white;
  overflow: hidden;
  white-space: nowrap;
  float: left;
  margin-bottom: 10px;
  border-bottom:2px solid black;
  
  
}

.scrollmenu {
  overflow: hidden;
  position: fixed;
  top: 0;
  width:100%;
  height: 75px;

}

div.scrollmenu a {
  display: inline-block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 19px;
  padding: 30px;
  font-family: "Poppins",sans-serif;

}

div.scrollmenu a:hover {
  color: green;
  
}



#overskrift_forside{
  text-align: center;
}

.footer {
  height: 100px;
  background-color: green;
  color: black;
  padding: 10px;
  margin-top: 170px;
  
  
}

#infotekst {
  width: 35%;
  padding: 10px;
  border: 2px solid black;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-family: "Poppins",sans-serif; 

}

.button {
  background-color: green;
  font-family: "Poppins",sans-serif;;
  text-align: center;
  color: white;
  text-decoration: none;
  display: block;
  width: 7%;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
  border-bottom-right-radius: 300px;
  border-bottom-left-radius: 300px;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  margin-top: 20px;
  
}

.overskrift_solution {
padding-top: 10%;
margin-left:12%
}

#infobox_solution {
width:75%;
margin-left: 12%;
font-family: "Poppins",sans-serif;
}

#app {
display: block;
margin-left: auto;
margin-right: auto;
height: 50%;
}

.img_footer{
height:120px;
width:120px;
float:right;
margin-top:-11px;
margin-right:-10px;
}

#footertxt {
  width: 80%;
  height: 1px;
  background-color: green;
  color:white;
}


@media only screen and (max-width:768px) {
  /* For mobile phones: */

.scrollmenu {
  width: 100%;
}

div.scrollmenu a {
  font-size: 18px;
}
  .header {
    width:80%;
    height: 170px;
  }
  
  #footertxt {
    width: 63%;
  }

  #app {
    width: 100%;
    height: 300px;
  }

  #logo {
    width: 30%;
    height: 40px;
    margin-top: 23px;
  }
  #infotekst {
    width: 80%;
  }

  .button {
    width: 18%;
  }

  .overskrift_solution {
    padding-top: 20%;
  }
#overskrift_forside {
  text-align: center;
  font-size: 25px;
}
  }

@media only screen and (min-width: 600px) {

.header {
  padding-top: 10px;
  width: 80%;
}

#infotekst {
  width: 60%;
}
.overskrift_solution {
padding-top: 10%;

}

#overskrift_forside {
  padding-top: 10px;
}

#app {
  height: auto;
}











