html, body {
 height:100%;
 padding:0;
 margin:0;

}

#logo {
  width: 10%;
  height: 60px;
  float: left;
  margin-top: 5px;
  margin-left: 10px;

}

.header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
}

div.scrollmenu {
  background-color: lightgreen;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  
  
}

.scrollmenu {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;

}

div.scrollmenu a {
  display: inline-block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 19px;
  padding: 30px;
  font-family: "Poppins",sans-serif;

}

div.scrollmenu a:hover {
  color: orange;
  
}

h1 {
  text-align: center;
}

.footer {
  height: 100px;
  background-color: lightgreen;
  color: grey;
  padding: 10px;
  margin-top: 170px;
  
}











